.header{
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 9999;
    background: white;
    box-shadow: 0px 0px 8px #46A358;
    overflow: hidden;
}
.header::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(9, 230, 53, 0.3) 0%, rgba(69, 148, 4, 0.1) 70%);
    animation: shimmer 6s linear infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    50% {
        transform: translateX(20%) translateY(20%) rotate(45deg);
    }
    100% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    display: flex;
    gap: 50px;
}
.header-list__link{
    color: #3D3D3D;
    font-family: "Montserrat";
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
position: relative;
display: inline-block;
transition: color 0.4s ease;
}
.header-list__link::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #46A358;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}
.header-list__link:hover{
    color:#46A358;
}
.header-list__link:hover::after{
    width: 100%;
}

.header__btn {
 width: 100px;
 height: 35px;
 margin: 0.5em;
 background: #46A358;
 font-family: "Montserrat";
 color: white;
 border: none;
 border-radius: 6px;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

.header__btn:hover {
 color: #46A358;
}

.header__btn:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

.header__btn:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}