.nav {
    background: #F5F5F580;
    margin-top: 70px;
    height: 550px;
}

.nav__container {
    display: flex;
    align-items: center;
}

.nav__title {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 10%;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 20px;
}

.nav__span {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #46A358;
}

.nav__text {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 30px;
}

.nav-text__one {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #727272;
    margin-bottom: 50px;
}

.nav__btn {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background: #46A358;
    color: #FFFFFF;
    font-family: "Montserrat";
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.nav__btn:hover {
    color: #46A358;
}

.nav__btn::after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.nav__btn:hover::after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

}

/* ---------------------------------section----------------------- */
.section {
    margin-bottom: 50px;
}

.section-one__list {
    background: #FBFBFB;
}

.section-one__item {
    width: 310px;
    height: auto;
    padding: 20px;
}

.section-one-list__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    color: #3D3D3D;
}

.section-one__item p.section-one-list__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    color: #3D3D3D;
    margin-bottom: 20px;
}

.section-one-list__span {
    font-weight: 400;
}

.section-one__item p.section-one-list__text:hover {
    color: #46A358;
}

.section-one__img {
    margin-left: -30px;
    margin-top: 10px;
}

.filter-card {
    padding: 24px;
}

.filter-header {
    padding-bottom: 18px;
}

.filter-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0%;
    margin-bottom: 15px;
}

.price-display {
    display: flex;
    align-items: center;
    gap: 8px;
}

.price-label {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;

}

.price-values {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #46A358;
}

.range-slider-container {
    position: relative;
    height: 40px;
    margin-bottom: 15px;
}

.slider-track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    width: 100%;
    border-radius: 3px;
    z-index: 1;
}

.range-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 6px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    pointer-events: none;
    z-index: 2;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #46A358;
    cursor: pointer;
    pointer-events: auto;
    border: 3px solid white;
    box-shadow: 0 2px 8px rgba(74, 108, 247, 0.4);
    transition: all 0.2s ease;
}

.range-slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(74, 108, 247, 0.5);
}

.range-slider::-moz-range-thumb {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #46A358;
    cursor: pointer;
    pointer-events: auto;
    border: 3px solid white;
    box-shadow: 0 2px 8px rgba(74, 108, 247, 0.4);
}

.value-label {
    font-size: 14px;
    color: #777;
    font-weight: 500;
}

.filter-button {
    width: 95px;
    height: 35px;
    border: none;
    border-radius: 6px;
    background: #46A358;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
}

.filter-button:hover {
    color: #46A358;
}

.filter-button::after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.filter-button:hover::after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.section__container {
    display: flex;

}

.section-two__list {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    gap: 40px;
}

.section-one__link {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.section-one__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background: #46A358;
    transition: width 0.4s ease;
}

.section-one__link:hover {
    color: #46A358;
}

.section-one__link:hover::after {
    width: 100%;
}

.section-one__img {
    width: 370px;
    height: 400px;
}

.section-three__list {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -18%;
    justify-content: space-between;
}

.section-three__item {
    width: 260px;
    height: 300px;
    position: relative;
    overflow: visible;
    transition: 0.6s ease;
}

.section-three__item:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(61, 195, 12, 0.556);
}

.section-three__item::before,
.section-three__item::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #46A358;
    transition: 0.6s ease;
}

.section-three__item::before {
    top: 0;
}

.section-three__item::after {
    bottom: 0;
}

.section-three__item:hover::before,
.section-three__item:hover::after {
    width: 120%;
}

.section__images {
    margin-bottom: 30px;
    width: 224px;
    height: 286px;
}

.section-three-list__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
    margin-bottom: 10px;
}

.dell {
    text-decoration: line-through;
    color: #A5A5A5;
}

.money {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #46A358;
}

/* ------------------------------article---------------------------------- */
.article__container {
    display: flex;
    margin-bottom: 50px;
}

.article__list {
    display: flex;
    gap: 80px;
}

.article__item {
    text-align: right;
    width: 580px;
    background: #FBFBFB;
    height: 290px;

}

.article__images {
    display: block;
}

.article__title {
    margin-top: -40%;
    margin-left: 68%;
    margin-bottom: 30px;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #3D3D3D;
    width: 180px;
}

.article__text {
    width: 290px;
    margin-left: 50%;
    margin-bottom: 30px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #727272;
}

.article__btn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #46A358;
    color: #FFFFFF;
    font-family: "Montserrat";
    line-height: 20px;
    font-size: 14px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.article__btn:hover {
    color: #46A358;
}

.article__btn::after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.article__btn:hover::after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

}

/* ----------------------------aside------------------------------------ */
.aside {
    margin-bottom: 50px;
}

.aside__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    color: #3D3D3D;
    margin-bottom: 30px;
}

.aside__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #727272;
    margin-bottom: 50px;
}

.scroll-slider {
    overflow: hidden;
    width: 100%;
}

.scroll-slider__track {
    display: flex;
    gap: 50px;
    width: max-content;
    animation: scroll 15s linear infinite;
}

.aside__item {
    width: 250px;
    background: #FBFBFB;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(52, 175, 15, 0.596);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.aside__img {
    margin-bottom: 10px;
}

.aside-item__text {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #46A358;
    margin-bottom: 10px;
}

.aside-item__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #3D3D3D;
    margin-bottom: 10px;
    width: 250px;
}

.aside-item-two__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #727272;
    margin-bottom: 20px;
}

.aside__btn {
    border: none;
    background: none;
    color: #3D3D3D;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
}

.aside__btn:hover {
    color: #46A358;
}